body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.poll-question {
    width: 400px;
    height: 160px;  
    padding: 0px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 0 auto;
    border: 1px solid #dad7d7;
    border-radius: 3px;
    cursor: pointer;
}

.question-author {
    grid-column-start: 1;
    grid-column-end: 3;
    font-weight: bold;
    border: 1px solid #dad7d7;
}

.avatar {
    height: 70px;
    border-radius: 35px;
    margin: 10px;
    grid-row-start: 2;
    grid-row-end: 4;  
}

.question-title {
    font-size: 15px;
    font-weight: bold
}

.question-option {
    grid-row-start: 2;
    grid-row-end: 4;
}

.result {
    width: 400px;
    height: 480px;  
    padding: 0px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 9fr;
    margin: 0 auto;
    border: 1px solid #dad7d7;
    border-radius: 3px;
    cursor: pointer;
}

.result-text {
    height: 300px;
    padding: 10px;
    display: grid;
    grid-template-rows: 1fr 5fr 5fr;
    gap: 20px;
    font-size: 20px;
}
.result-option {
    border: 1px solid #dad7d7;
    font-size: 18px;
}

.result-progress {
    font-size: 15px;
    text-align: center;
}

.progress-bar{
    color: #260583;
    background: transparent;
    border: 1px solid #dad7d7;
    font-size: 10px;
    text-align: center;

}